.heading {
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: $primary-color;
  font-size: 24px;

  &:before {
    content: "";
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    margin: 0px 6px 4px 0px;
    color: $secondary-color;
  }

  &:after {
    content: "";
    width: 100%;
    height: 1px;
    margin-left: 15px;
    background: $line-color;
  }
}

.subheading {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 10px;
  font-size: 22px;
  text-align: center;
  color: $primary-color;

  &:before, &:after  {
    content: "";
    width: 100%;
    height: 1px;
    background: $line-color;
  }

  &:before {
    margin-right: 15px;
  }

  &:after {
    margin-left: 15px;
  }
}

.title {
  color: $secondary-color;
  text-align: center;
  font-size: 21px;
}

.dot-pagination {
  width: 100%;
  display: flex;
  justify-content: center;

  .pagination-button {
    width: 9px;
    height: 9px;
    margin: 0px 3px;
    border: 0px none;
    border-radius: 50%;
    background: $default-color;
    cursor: pointer;

    &.current {
      background: $secondary-color;
    }
  }
}
