@use "sass:math";

.contact-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .links {
    width: 100%;
    max-width: 270px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0px;
  }
}

.heading {
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: $primary-color;
  font-size: 24px;

  &:before {
    content: "";
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    margin: 0px 6px 4px 0px;
    color: $secondary-color;
  }

  &:after {
    content: "";
    width: 100%;
    height: 1px;
    margin-left: 15px;
    background: $line-color;
  }
}

.subheading {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 30px;
  font-size: 22px;
  text-align: center;
  color: $primary-color;

  &:before, &:after  {
    content: "";
    width: 100%;
    height: 1px;
    background: $line-color;
  }

  &:before {
    margin-right: 15px;
  }

  &:after {
    margin-left: 15px;
  }
}

.title {
  color: $secondary-color;
  text-align: center;
  font-size: 21px;
}

a {
  &.underlined {
    background-image: linear-gradient($secondary-color, $secondary-color);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, background-size .4s;

    &:hover, :focus, :active {
      background-size: 100% 1px;
    }
  }

  &.button {
    @extend button;
  }
}

button {
  &.underlined {
    &:after {
      content: "";
      background: $secondary-color;
      height: 3px;
      width: 100%;
      bottom: 0px;
      left: 0px;
      position: absolute;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
      visibility: hidden;
    }

    &:hover, :focus, :active {
      background: rgba(100, 255, 218, 0.07);

      &:after {
        width: 100%;
        transform: scaleX(1);
        visibility: visible;
      }
    }
  }
}

.dot-pagination {
  width: 100%;
  display: flex;
  justify-content: center;

  .pagination-button {
    width: 9px;
    height: 9px;
    padding: 0px;
    margin: 0px 3px;
    border: 0px none;
    border-radius: 50%;
    background: $default-color;
    cursor: pointer;

    &.current {
      background: $secondary-color;
    }
  }
}

.bumper {
  height: 1px;

  &.page-header-shown {
    position: relative;
    top: -20px;
  }
}

.carousel-container {
  .carousel-slide {
    transition: opacity .5s ease-in;
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    opacity: 0.3;

    &.active {
      opacity: 1;
    }

    &.per-slide- {
      @include carousel-per-slide(1);
      @include carousel-per-slide(2);
      @include carousel-per-slide(3);
      @include carousel-per-slide(5);
      @include carousel-per-slide(6);
      @include carousel-per-slide(7);
      @include carousel-per-slide(8);
      @include carousel-per-slide(9);
      @include carousel-per-slide(10);
      @include carousel-per-slide(11);
      @include carousel-per-slide(12);
    }
  }
}
