body {
  background: $background-color;
  color: $default-color;
  font-family: $primary-font;
  font-size: 17px;
  width: 100%;
  margin: 0px;
  overflow-x: hidden;

  @include media-breakpoint-up(sm) {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
  color: $default-color;
  outline: currentColor none 0px;
  text-decoration-skip-ink: auto;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;


  &:hover, :focus, :active {
    color: $secondary-color;
  }
}

button {
  border: solid 1px $secondary-color;
  border-radius: 3px;
  padding: 25px 20px 20px;
  color: $secondary-color;
  position: relative;
}
