$background-color: #1e1e1e;
$footer-background-color: #252526;
$shadow-color: rgba(0, 0, 0, 0.4);
$line-color: #2d3952;
$default-color: #cccccc;
$primary-color: #f5f5f5;
$secondary-color: #fffd7a;
$button-hover-color: #2a2d2e;

$primary-font: Calibre, "San Francisco", "SF Pro Text", "-apple-system", "system-ui", BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, "sans-serif";
$secondary-font: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;

$text-max-width: 500px;
