body {
    font-family: "Helvetica", "Arial", sans-serif;
    color: #555;
    margin: 0 auto;
    padding: 4em 1em;
    line-height: 1.5;
    max-width: 50em;
}

h1, h2, h3 {
    color: #333;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

a {
    color: #618AB8;
}

.presentation {
    text-align: center;
}

.lazy {
    display: block;
    text-align: center;
    margin-top: -19px;
}

.contact-list {
    text-align: center;
    list-style-type: none;
}
