.experience-section {
  margin-top: 150px;

  .heading {
    margin-bottom: 5px;
  }

  .timeline {
    display: flex;

    &:before {
      content: " ";
      background: $secondary-color;
      position: relative;
      width: 1px;
      top: 21px;
      margin: 0px 10px 33px 0px;
    }

    .jobs {
      flex-grow: 2;
      width: 100%;

      &:after {
        content: " ";
        display: flex;
        background: $secondary-color;
        position: relative;
        width: 10px;
        height: 1px;
        top: -12px;
        left: -11px
      }

      .job-item {
        width: 100%;

        @include media-breakpoint-up(sm) {
          font-size: 18px;
        }

        .job-header {
          position: sticky;
          background: $background-color;
          top: 0px;
          width: 100%;
          padding: 11px 5px 2px;
          z-index: 1;
          transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

          &:before {
            content: " ";
            display: flex;
            background: $secondary-color;
            position: relative;
            width: 10px;
            height: 1px;
            top: 9px;
            left: -16px;
          }

          &.page-header-shown {
            top: 68px;
          }

          &.sticky {
            box-shadow: $shadow-color 0px 11px 8px -10px;

            .period {
              color: $secondary-color;
            }

            .title-and-company {
              margin-top: 0px;
            }
          }

          .period {
            color: $default-color;
            font-family: $secondary-font;
            font-size: 13px;
            font-weight: normal;
            letter-spacing: 0.05em;
            margin: 0px;
            transition: all .6s;
          }

          .title-and-company {
            color: $primary-color;
            font-size: 18px;
            font-weight: 500;
            margin: 10px 0px 0px;
            transition: all .6s;

            @include media-breakpoint-up(sm) {
              font-size: 22px;
            }

            .at {
              color: $secondary-color;
            }
          }
        }

        .experience-list {
          list-style: none;
          padding: 0px;
          margin: 20px 0px 50px;

          li {
            position: relative;
            padding-left: 20px;
            margin-bottom: 10px;
            max-width: $text-max-width;

            &:before {
              content: "\25B9";
              color: $secondary-color;
              position: absolute;
              left: 1px;
              line-height: 22px;
            }
          }
        }
      }
    }
    }
}
