.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin-top: 100px;

  .introduction {
    h1 {
      color: $primary-color;
      font-weight: 600;
      font-size: 40px;
      line-height: 1.1;
      margin: 0px;

      @include media-breakpoint-up(sm) {
        font-size: 60px;
      }

      @include media-breakpoint-up(md) {
        font-size: 80px;
      }
    }

    h2 {
      font-weight: 600;
      font-size: 40px;
      line-height: 1.1;
      margin: 0px 0px 10px;

      @include media-breakpoint-up(sm) {
        font-size: 60px;
        line-height: 0.9;
      }

      @include media-breakpoint-up(md) {
        font-size: 70px;
      }
    }

    h3 {
      color: $secondary-color;
      font-family: $secondary-font;
      font-weight: normal;
      font-size: 13px;
      margin: 0px 0px 20px;

      @include media-breakpoint-up(md) {
        font-size: 16px;
      }
    }

  }

  .short-presentation {
    max-width: $text-max-width;
  }

  .quickly-contact {
    display: flex;
    justify-content: center;
    margin: 60px 0px;
  }

  .contact-list {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

}
